*.exp
*.lib
*.o
*.obj
*.pyc
*.pyd
*.so
.DS_Store
.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
MANIFEST
dist
build
dist/py-earth-0.1.0.tar.gz
doc/Humor-Sans.ttf
doc/_build/*
doc/hinge.png
doc/piecewise_linear.png
doc/simple_earth_example.png
doc/auto_examples
examples/classifier_comp.pdf
examples/comparison.csv
scripts/comparison.csv
py_earth.egg-info
