include pyearth/*.c
include pyearth/*.pxd
include pyearth/*.pyx
include pyearth/test/*.txt
include pyearth/test/*.csv
include pyearth/test/pathological_data
include README.md
include LICENSE.txt
include CHANGES.txt
include versioneer.py
include pyearth/_version.py
